<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cadastro/title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=3uLZ6rLdg2RAsZcc3bzIHPD-dxIqVT5-Ou6oM7EHCYUo42atfWIoPQtudQEu1WRCgnaxg3Lq_teuOwvzvBrz2b-OVsOOTmn55YT1FQOV3lZolUHAi3LLmlFCjENWM54zZpGWNualh9H5h5dn_R4Vh4M14xDRZpvHDIjtwbx03CAUzKO4G4TbJh_SG_kRsw_JfErubWrc-IAo6Y2KsgjiGJOClfQd6n056-LASLHg8-Zvq3yS_cC5g_5j7xDr1gIO9GqS8bIf5VHfjUrCm1UoqhiMiwiKZTn16IfQl15Gb74awPaINb-9Bb4h9tIO3ntwPk3vBQX34HnZ-yqEDY3CtSMjxx2v4SNRATUdePUqI95fAosKLFg_nEbRNRLRncVJ61fngeRNvBC9hMRzJeBFrY5cuN-96OSMwF34-bhsF4JOSrKO_VFg1e-rIqq80JHkgupy3h-8FrP4CSsbhlpmsKucz8ZyOB_6rvyLWmE2GV4HvmC5Q60JNj91KOIn_Rt0QYXi0kf-egGwhN7U1FqTspOOaL3fnqO5usL9S5pWyXqN8w4vpC23ntKMcd1JRm2Y7y-3UBWd9pZtqFCqqiHToOSEn7WlsjhSXKMhBMnl533cW5cPNCOwla3Lge4_IxrnqCmbbZg4C-qnbj4WcMDhltG-PgengWm3FdMIamJb0zucbqZiLIPEcHZ82mZZ6NCuORUH8aFN1nGhYBN6JdgogalUr5XKVXQL4zIP6r9qgtF-LkQNd_GLgrP3tBLIKbBKPh-nHdGP19RKFzOLmE6idqNo_1qkNIY5JoECLVibvfrRjDOhr_d75mW237oe7utTSdkdf7rC478L-0hYpkAKIyGXg1kSXxvVK6Qxowaryu_xDuAYFmMwLf8LKjLoBx5ykhjlCMEHf_icnx6MyHJo88nLMejdybw7fxUEYAUn723N7TnjaDVLp1DGdSu7TPxnByaC4sGLYqPV2zbXzUErVt3eLCDAfY2kTg3QhSka4wsjrJeZW1mmtI0LmgFyHAVorm-huobnbYJKAbz6vEZZQkEAw2f4gEOtqgwvl4hXLjhLp-4C94EUkALllOcboOuKriB16MH8xPqkWELPPTF119M77PMl6cHuW3VAziiqvsvzhDsQfNFAnK4SJIrt_4NatBSI301pL4PwxXld9uYw6eO7gwIiRsS3O_OjX9i-kTBiRDefw5Ij7gUaNtBbSb2smzw4HQ2XdGi3XAjS_oabiJ6a0fygunoIdjN0SuYOMCOZjU3zpa-a5uqywnEOJ1meM1XxjrYGpGXKSTQH0q0a8GDjIKB0C9UOu5wTUSKPsWYewG8ijh5nSEqSIddXN7dlcsNaSTs-yLbLr1TZFjTTesijG7yj2GO3XAl3ldQkumY" charset="UTF-8"></script>
        <link rel="stylesheet" crossorigin="anonymous" href="https://gc.kis.v2.scr.kaspersky-labs.com/E3E8934C-235A-4B0E-825A-35A08381A191/abn/main.css?attr=aHR0cHM6Ly9mYXRlY3NwZ292LnNoYXJlcG9pbnQuY29tL3NpdGVzL1NlY3Rpb25fSVNXMDM4LkE4OTIuTS4xMzkuMTExLjIwMjQxL19sYXlvdXRzLzE1L2Rvd25sb2FkLmFzcHg_VW5pcXVlSWQ9YWVlNTQ4NGItZWE3Ny00OGRjLWIyMzEtNzMzNmNlYWQwZjliJlRyYW5zbGF0ZT1mYWxzZSZ0ZW1wYXV0aD12MS5leUp6YVhSbGFXUWlPaUkzWVROaE9Ea3hOeTFpWVRjMUxUUTROR1l0T0RnNVlTMDRNbVE1WkRNM01qUTRZMkVpTENKaGNIQmZaR2x6Y0d4aGVXNWhiV1VpT2lKTmFXTnliM052Wm5RZ1ZHVmhiWE1nVjJWaUlFTnNhV1Z1ZENJc0ltRndjR2xrSWpvaU5XVXpZMlUyWXpBdE1tSXhaaTAwTWpnMUxUaGtOR0l0TnpWbFpUYzROemczTXpRMklpd2lZWFZrSWpvaU1EQXdNREF3TURNdE1EQXdNQzB3Wm1ZeExXTmxNREF0TURBd01EQXdNREF3TURBd0wyWmhkR1ZqYzNCbmIzWXVjMmhoY21Wd2IybHVkQzVqYjIxQVkyWTNNbVV5WW1RdE4yRXlZaTAwTnpnekxXSmtaV0l0TXpsa05UZGlNRGRtTnpabUlpd2laWGh3SWpvaU1UY3lOekkyTkRjek5TSjkuQ2dvS0JITnVhV1FTQWpZMEVnc0k0Sl9BZ0tmV3JqMFFCUm9NTkRBdU1USTJMalExTGpJM0tpeEdObmd6WTBWWlMxZG5aR2xLU210U0syNUlSMXB4ZDJkU01YQlNaWFZ0ZWxOcGNrczRkVGxPYmlzNFBUQ2pBVGdCUWhDaFU2OWlscEFBWUpheWszTE5YaUpwU2hCb1lYTm9aV1J3Y205dlpuUnZhMlZ1Y2lrd2FDNW1mRzFsYldKbGNuTm9hWEI4TVRBd016SXdNREl4TldVMk0yTXhOVUJzYVhabExtTnZiWG9CTW9JQkVnbTk0bkxQSzNxRFJ4Rzk2em5WZXdmM2I1SUJDRXBGUmtWU1UwOU9tZ0VFVEVsTlFhSUJIMnBsWm1WeWMyOXVMbXhwYldFeE1FQm1ZWFJsWXk1emNDNW5iM1l1WW5LcUFSQXhNREF6TWpBd01qRTFSVFl6UXpFMXNnRW9ZV3hzWm1sc1pYTXVkM0pwZEdVZ1ozSnZkWEF1Y21WaFpDQmhiR3h6YVhSbGN5NTNjbWwwWmNnQkFRLk5sZ1NWQUV1TTNoYy0wRTNFbGF6WkhMcmtEc3FIN0tXY1I5dTc0ek5UX28mQXBpVmVyc2lvbj0yLjA" />
        <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=XZy-El7KNphCI4IfKuuD1ip3z_WAni0H3UmMZlIrhn5Cx3cC5ioo-yhEin3h-09a0rw2BO0WjrFRt5lU01rxUaP3s7kjS2Gbw4q2-kvTmg12zFCm5jD-imNlhzBa-EICgRJ_UoLYuInDMzoBi2erYkwPAB5kYgFMzt7jjBiW0H8ThGvbwNsAj8V4LRkJur-SDX8k4VPVEKHrQ5Sdjp2K4FcZqKfbF2ImZQeK37ifF6WpZ4JoqzNUs5BjFNMO4mULSjSSmiZ1jsGz8C5zOIlA4T6CMNLGJZV9bLNJx3dyEXxzMWlud-7hE7OTdVDDHf3wQb6BhaioXBqnrkRHlRmTeRiV5OhVO7EXLvijS-FtsWjTULeRJ5XpG7D5Czpcg9NjVEobh3ypYGxg7oDWrc3NnkzoG_B5IV8u98NOpyPgzJ_jDgHEOWxxdssup5SDT-TNMQW-bSUuqRSzUlQ7tkG8yu5V5_5KDSDiDbL0h1vrZKBSgSJaTdDm-5-eP3-ZBmyh06aRQ0kgfCVyIpHddj3k2xTF6Zc-Es-fXaJmgRk-Jug6TLlMze95NwImMz84IJV6htHEg4MkpDEcg3Me6eQB5ZzBzC9Hewe-xpY-lGUafrjjvu9R5xbiH2Rm2ptnp80CeiARb-RlgLnI0rSca31rXvnpOsGg6gHd4VcW0KEHWUwCKGlOFHIdQL1WoCtQPYW1f6Xgy2oqJYUq1YrPGOIOVB1gbVpVE3aUMHGfyz5x3di6NdNdpeuE2fSYu7ndbVP1vWsSZnSGj_TddXE9We1zPsReYrii7XaL_hk9ogsEEkYfz8Vr1_FR0tC2GvPP9AFR55sR7Y3T0hivSwLUpEI_i7WVZTPEhv-bzOmI-Q3IohsJ3MLYMUqQnXe6PpfRTE4xRJ5QhZ4hCNSFpfPmlNLq8MBNt4aVw3va2v6O99R5eo93bPiJkyh8DEXH8-E6N5s04B3K7IN69HJw27J_cEbIiDK4gm8zSFvptKNrJq7KGtmDEfUghgDHGCjJ9Y2ASaZ3odZjwpCEG2qqn_W_5tPmg5MWrAxBKBYbu28JAL5Niz5-FkltezdHjozSP-JokoutxWv928OEsf_RbkUypGeiooVQjTGM1Eq3O-qsZ0n0LnlDnMiesss_cGNFzv_njzVLrCKZlhDfwY3z6xhpej3KE0CORYYSod7VGwFM2BFSgP0apmL6DFLB1_HSdq-nyPrLah4WLTMvYpfVrNaHXaxfxmOeg7UASqPc6Id9zdZxOWSev-9iJu4h0KEFcyRec5_5hx88lDxzzxI7Vq7oPcZQFXeLcQVf1Ly94z3UOSoiegwGhFsavB1GvIQKVgRvXmU81P84TjR1DuPDbXmWpdjwmqY3TwbJHFYXyjSYuvJSmZAJXxDehBmy_1j2tCpCqfCUVVirmdHdpaS99VEBfRyOCpzh00KZ5ceGJWNDbh2xNaSCrmdcoI91O86gBwmCu11vFrv8bSEWE802Pov_j_uS2CJ8SMcP0gV_PP-3YTavWlKuS8e8Co2D3zHeMJl1EseiFPldSTNgk46agVWz5l_yQ5--iUuIvSOOmALa2Iu5RHLdadOt5_SEN616qqZqJlAI3u4zpY4E_mBgh_892IB-mBeN-Gwfrl73zMeRtpW5IKxXGsudgvwmarSoLyxvE1ng6xaEK_IeN7dsCUpyvXDB_Dk6B2l7Id4ZM8JppAE0E6mFNvuljQ03-PBTaKfd2Z8W_PygenjbY_CziV7T85sHuvQxdNMvXCg92hnbTLgZVpygVzNBAVSC_k-pBCbK-Gy9Cm9Q5PYK8J8O_toc9TmO9aB49wcNJTQl4PjTUm4DH9Y" charset="UTF-8"></script>
    </head>
    <body>
        <div class="container">
            <h1>Cadastro</h1>
            <form action="/cadastrar" method="post">
                <div class="form-group">
                    <label for="nome">Nome:</label>
                    <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite o nome">
                </div>
                <div class="form-group">
                    <label for="telefone">Telefone:</label>
                    <input type="number" class="form-control" id="telefone" name="telefone" placeholder="Digite o Telefone">
                </div>
                <div class="form-group">
                    <label class="form-label">Origem:</label>
                    <select name="origem" class="form-select" aria-label="Default select example">
                        <option value="celular" selected>Celular</option>
                        <option value="whatsapp">WhatsApp</option>
                        <option value="telefone_fixo">Telefone Fixo</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label">Data do Contato:</label>
                    <input type="date" name="data_contato" class="form-control" id="data_contato" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="form-label">Observação:</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="observacao">{{observacao}}</textarea>
                </div>
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </form>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>